.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        水野信一
      .side-header__box__menu
        .content
          = link_to do
            = fa_icon 'pencil-square-o', class: 'icon'
        .content
          = link_to do
            = fa_icon 'cog', class: 'icon'

  .groups
    .group
      .group__name
        sdf
      .group__message
        sdfgrrrrec
    .group
      .group__name
        sdfghjhkl;okj
      .group__message
        dd
